.form-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.comment-edit-card{
  height: 100%;
  width: 100%;
}
.card-actions{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.comment-edit-title{
  margin : 20px 0 0 20px;
}
.close-btn{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
.add-comment {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  background-color:  #42B72A;
  width: 150px;
  border-radius: 37px;
  color: #ffffff;

}
