.content-stepper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6%;
  .content-stepper-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .div-field {
      gap: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

    }
  }

}
.validation-step {
  margin-top: 40px;

}
.input {
  width: 60px;
}
mat-form-field {
  width: 350px;
}
.mat-button-next {
  background-color: #42B72A;
  width: 150px;
  border-radius: 37px;
}
.mat-button-previous {
  background-color: #bdbdbd;
  width: 150px;

  border-radius: 37px;
}

.btn-grp{
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

}

/*
// Stapper Step-Box Hover Effect

::ng-deep .mat-primary.mat-step-header:hover:not([aria-disabled]),

::ng-deep .mat-primary.mat-step-header:hover([aria-disabled]) {
  background-color: rgba(154, 191, 226, 0.74);
  border: 1px solid #ffffff;
}
// Stapper Step-Box Focus Effect

::ng-deep .mat-primary.mat-step-header.cdk-keyboard-focused,

::ng-deep .mat-primary.mat-step-header.cdk-program-focused {
  //background-color: rgba(27, 133, 255, 0.25);
  border: 1px solid rgba(154, 191, 226, 0.336);
  border-radius: 12PX;
}
*/


::ng-deep .mat-primary.mat-step-header {
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid rgba(155,175,194,0.377);
  height: 40px;
  pointer-events: none;
}
.uuid-not-valid {
  margin-bottom: 20px ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width : 300px;
  color: #FF3528;
  border-radius: 7px;
  align-content: center;
  background-color: #F2ECEC;
  .p-uuid {
    padding-top: 10px;
  }
}
.step-tree-not-valid {
  margin-bottom: 20px ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width : 350px;
  color: #FF3528;
  border-radius: 7px;
  align-content: center;
  background-color: #F2ECEC;
  .p-step-tree {
    padding-top: 10px;
  }
}
.span-mat {
  padding-top: 10px;
}

// Change Stepper Step Icons Circle
::ng-deep .mat-primary.mat-step-header .mat-step-icon {
  background-color: #bdbdbd;
  color: #fff;
  transition: all 0.5s ease-in-out;
  margin: auto 7px auto 0;
  outline: 2px solid #bdbdbd;
  outline-offset: 1px;
}

// Change Stepper Step selected Icons Circle
::ng-deep .mat-primary.mat-step-header .mat-step-icon-selected {
  background-color: #42B72A;
  color: #fff;
  outline: 2px solid #42B72A;
  outline-offset: 3px;

}
 ::ng-deep .mat-horizontal-stepper-header-container {
  width: 800px;

}
::ng-deep .mat-horizontal-stepper-wrapper {
  display: flex; /* Utiliser un conteneur flex pour aligner les enfants */
  align-items: center; /* Centrer verticalement les enfants */
  justify-content: center;
}


::ng-deep .mat-primary.mat-step-header .mat-step-label.mat-step-label-selected{
  color: #42B72A;
  font-weight: 600!important;
}
::ng-deep .mat-step-header .mat-step-icon {
  //background: #42B72A;
}
::ng-deep .mat-step-header .mat-step-icon-selected {
  background: #42B72A;
}

// Change Stapper Step Edit Icon Circle Image
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #398805;
  color: #fff;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/768px-White_check.svg.png');
  background-size: 13px;
  background-position-y: 5px;
  background-position-x: 5px;
  transform: rotate(20deg);
  background-repeat: no-repeat;
  outline: 2px solid #39a805;
  outline-offset: 1px;
}
::ng-deep .mat-step-icon .mat-icon {
  display: none;
}
// Change Stapper Step Edit Icon Circle Image
::ng-deep .mat-step-header .mat-step-icon-state-done {
  background-color: #42B72A;
  color: #fff;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/768px-White_check.svg.png');
  background-size: 13px;
  background-position-y: 5px;
  background-position-x: 5px;
  transform: rotate(20deg);
  background-repeat: no-repeat;
  outline: 2px solid #39a805;
  outline-offset: 2px;
}

mat-card-title {
  text-align: center;
  margin-bottom: 22px;
}

.custom-input {
  width: 60%;
}

