
<!--
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>

-->
<mat-horizontal-stepper  #stepper  class="mati">
  <mat-step   >
    <form [formGroup]="form" class="content-stepper">
      <ng-template matStepLabel>Information</ng-template>

      <div class="content-stepper-container">
        <div class="div-field">
          <mat-form-field >
            <label>Nom : </label>
            <input matInput placeholder="Entrer votre nom" formControlName="lastName"  required>
            <mat-error *ngIf="form.controls['lastName'].hasError('required')">
              Nom est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field >

          <mat-form-field appearance="fill">
            <label>Prénom : </label>
            <input matInput placeholder="Entrer votre prénom" formControlName="firstName" required>
            <mat-error *ngIf="form.controls['firstName'].hasError('required')">
              Prenom est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field >
        </div>

        <div class="div-field">
          <mat-form-field appearance="fill">
            <label>Email : </label>
            <input matInput placeholder="Entrer votre email"  formControlName="email" type="email" required>
            <mat-error *ngIf="form.controls['email'].hasError('required')">
              Email est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field >

          <mat-form-field  appearance="fill">
            <label>Téléphone: </label>
            <input  matInput placeholder="Entrer votre telephone"  formControlName="telephone" name="telephone"  required>
            <mat-error *ngIf="form.controls['telephone'].hasError('required')">
              Telephone is <strong>required</strong>
            </mat-error>
          </mat-form-field >
        </div>

        <div class="div-field">
          <mat-form-field  appearance="fill">
            <label>Addresse : </label>
            <input matInput placeholder="Entrer votre addresse"  formControlName="address" name="address"  required>
            <mat-error *ngIf="form.controls['address'].hasError('required')">
              Addresse est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field >

          <mat-form-field  appearance="fill">
            <label>Ville : </label>
            <input matInput placeholder="Entrer la ville"  formControlName="ville" name="ville"  required>
            <mat-error *ngIf="form.controls['ville'].hasError('required')">
              Ville  est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field >
        </div>
      </div>

      <div class="btn-grp">
        <div >
          <button class="mat-button-previous" (click)="login()" mat-button >Login</button>
        </div>
        <div >
          <button class="mat-button-next" mat-button (click)="stepOneNext()" [disabled]="!form.valid" matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step  >
    <form [formGroup]="formStepTo" class="content-stepper">
    <ng-template matStepLabel>Vérification</ng-template>

    <div class="content-stepper-container">
      <div *ngIf="textValidUuid" class="uuid-not-valid">
        <p class="p-uuid">votre code invalide ou expiré </p>
      </div>
      <div>
        <mat-form-field >
          <label> Code Validation : </label>
          <input matInput placeholder="Entrer le code de confirmation ici..." formControlName="uuid"  required>
          <mat-hint  align="end"> {{formStepTo.controls.uuid.value?.length}} /8 </mat-hint>
          <mat-error *ngIf="formStepTo.controls['uuid'].hasError('required')">
            Code est <strong>Obligatoire</strong>
          </mat-error>
        </mat-form-field >
      </div>

    </div>
    <div class="btn-grp">
      <div >
        <button class="mat-button-previous" mat-button matStepperPrevious>Précedent</button>
      </div>
      <div >
        <button *ngIf="!uuidIsValid" class="mat-button-next" mat-button [disabled]="!formStepTo.valid" (click)="validUuid()"  >Valider</button>
        <button *ngIf="uuidIsValid" class="mat-button-next" mat-button   matStepperNext>Next</button>
      </div>
    </div>
  </form>

  </mat-step>
  <mat-step >
    <ng-template matStepLabel>Done</ng-template>
    <form [formGroup]="formStepTree" class="content-stepper">
      <div class="content-stepper-container">

        <div *ngIf="stepTreIsValid" class="step-tree-not-valid">
          <p class="p-step-tree">Les deux mots de passe ne sont pas similaire !! </p>
        </div>
          <mat-form-field  appearance="fill">
            <label>Mot de passe : </label>
            <input matInput placeholder="Entrer votre mot de passe"  formControlName="passWord" name="passWord"  required>
            <mat-error *ngIf="formStepTree.controls['passWord'].hasError('required')">
              mot de passe est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field >

          <mat-form-field  appearance="fill">
            <label>Confirmer le mot de passe : </label>
            <input matInput placeholder="Rentrer votre mot de passe "  formControlName="confirmPassWord" name="confirmPassWord"  required>
            <mat-error *ngIf="formStepTree.controls['confirmPassWord'].hasError('required')">
              mot de passe de confirmation est <strong>Obligatoire</strong>
            </mat-error>
          </mat-form-field >
        </div>


      <div class="btn-grp">
        <div >
          <button class="mat-button-previous" (click)="stepper.reset()" mat-button matStepperPrevious>Annuler</button>
        </div>
        <div >
          <button class="mat-button-next" mat-button (click)="done()" [disabled]="!formStepTree.valid" matStepperNext>Valider</button>
        </div>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
