
<div class="container-change" >

  <mat-stepper  #stepper [linear]="true" >
    <mat-step [stepControl]="firstFormGroup" [editable]="true">
      <form [formGroup]="firstFormGroup" class="body-content">
        <ng-template matStepLabel>Make A Comment</ng-template>
        <mat-form-field appearance="outline" style="margin-top: 10px;width: 40vw">
          <mat-label>Comment</mat-label>
          <input matInput placeholder="comment" formControlName="comment">
          <mat-error *ngIf="firstFormGroup.controls['comment'].hasError('required')">
            Comment is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext color="primary">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step  label="Enter Your Rating">
      <form  class="body-content">
        <ng-template matStepLabel>Enter Your Rating</ng-template>
        <div style="margin-top: 5px">
          <button mat-button matStepperPrevious color="warn" style="margin-right: 10px">Back</button>
          <button mat-button matStepperNext color="primary">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step >
      <div class="body-content">
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div >
          <button mat-button matStepperPrevious >Back</button>
          <button mat-button (click)="stepper.reset(); this.userRating=0">Reset</button>
        </div>
        <button mat-raised-button color="primary" (click)="addComment()">Add Comment</button>
      </div>
    </mat-step>
  </mat-stepper>

</div>

